body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  font-family: "BIZ UDGothic", sans-serif;
  background-image: url("https://source.unsplash.com/random/2560×1440/?landscpae");
  font-size: 120%;
 

}

.card {
  background: #00000082;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  margin-top: 10em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day1 {
  padding: 1em;
}

.day2 {padding: 1em;}

.day3 {
  padding: 1em;
}

.description {
  margin-left: 8px;
  text-transform: capitalize;
}

.flex {
  display: flex;
  align-items: center;
}

/* .wind {
  padding: 10px; 
}*/

.search-butt {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 46px;
  width: 46px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: linear-gradient(311deg, #17e3c9, #db75e1, #e33d3d);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

.search-butt:hover {
  background: #7c7c7c6b;
}

.date {
  padding-top: 0.8em;
}

.wind {
  padding-top: 0.8em;
}

.humidity {
  padding-top: 0.8em;
}

h1.temp {
  margin: 0%;
  margin-bottom: 0.8em;
  margin-top: 0.7em;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

.extended {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  color: white;
  margin-top: 2em;
  border-radius: 30px;
  background: linear-gradient(311deg, #17e3c9, #db75e1, #e33d3d);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes AnimationName {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

.city {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

button.toggle {
  border: none;
  border-radius: 90$;
  background: none;
}

.freedom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.8em;
}

.freedom img {
    width: 50px;
    border-radius: 50%;

}

.freedom img:hover{
  animation: myAnim1 2s ease 0s infinite normal forwards;
}

@keyframes myAnim1 {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }